* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border:2px solid red; */
}

a {
    text-decoration: none;
    color: #000000;
}

ul,
ol {
    list-style: none;
}

/* ------ HEADER ------ */

.logo-principal img {
    width: 100%;
}

.list-item {
    padding: 7px;
    margin: 5px;
    font-size: 0.9rem;
}

.list-item:hover {
    background-color: #000000ec;
    border-radius: 12px;
    }

.list-item a:hover {
    color: white;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulo-principal {
    display: none;
}

/* ------ MAIN ------ */

/* .-.-.-.-.-.-.-.--. */

/* ------ INDEX ------ */

.encabezado__index {
    background-image: url(../imgs/imagen-fondo-index-header.jpg);
    background-color: #041f8dde;
    height: 55vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado__texto {
    font-size: 1.2rem;
    text-align: center;
    background-color: #0000006b;
    color: rgb(255, 255, 255);
    width: 60vw;
    border-radius: 20px;
    padding: 8px;
}



/* ------ FOOTER ------ */

.footer-title {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.8em;
}

.footer-contenedor {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 0.7em;
}