* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border:2px solid red; */
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol {
  list-style: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}
.header__logo img {
  width: 100%;
}

.header__title {
  display: none;
}

.nav {
  background-color: #EAE7DD;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.nav__item {
  padding: 7px;
  margin: 5px;
  font-size: 0.9rem;
  border-radius: 10px;
}
.nav__item:hover {
  background-color: #99775C;
  border-radius: 12px;
}
.nav__item a:hover {
  color: #EAE7DD;
}

/* @media (min-width: 600px) {
} */
.card {
  width: 350px;
}
.card__img {
  display: block;
  width: 100%;
  height: 125px;
  background-color: #e0466b;
}
.card__body {
  padding: 1.5em;
  background-color: white;
}
.card__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.card__item {
  padding: 0.3em 0.5em;
  background-color: #e6e6e6;
  border-radius: 10px;
  font-size: 0.8rem;
}
.card__item--active {
  font-weight: 800;
}
.card__btn {
  background-color: #2c8973;
  text-decoration: none;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em 1em;
  display: inline-block;
  margin-top: 20px;
}
.card__btn:hover {
  background-color: #e0466b;
}

.btn {
  background-color: #EAE7DD;
  padding: 7px;
  margin-top: 20px;
  border-radius: 7px;
  border: solid #EAE7DD;
}

.footer__title {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 0.8em;
}
.footer__body {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 0.7em;
  background-color: #EAE7DD;
  color: #99775C;
}

.icon:hover {
  color: #99775C;
}

.encabezado {
  background-image: url(../imgs/imagen-fondo-index-header.jpg);
  background-color: rgba(4, 31, 141, 0.8705882353);
  height: 45vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.encabezado__text {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4196078431);
  color: rgb(255, 255, 255);
  width: 70vw;
  border-radius: 20px;
  padding: 8px;
}

@media (max-width: 378px) {
  .encabezado__text {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  .encabezado {
    height: 40vh;
  }
  .encabezado__text {
    width: 60vw;
    font-size: 1.5rem;
  }
}
.catalogo__title {
  background-color: #EAE7DD;
  font-size: 2rem;
  text-align: center;
  padding: 15px;
  color: black;
  width: 100%;
}
.catalogo__subtitle {
  font-size: 1.8rem;
  padding: 15px;
  background-color: #000000;
  text-align: center;
  color: #EAE7DD;
}
.catalogo__productos {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: 40px;
}

.productos {
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: #99775C;
  border-radius: 40px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos__img {
  width: 250px;
  border-radius: 15px;
}
.productos__img--muebles {
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.catalogo__title--construccion {
  background-color: #48706b;
  font-size: 1.8rem;
  text-align: center;
  padding: 15px;
  color: black;
  width: 100%;
}

.catalogo__title--ceramicas {
  background-color: #704948;
  font-size: 1.8rem;
  text-align: center;
  padding: 15px;
  color: black;
  width: 100%;
}

.catalogo__title--muebles {
  background-color: #614870;
  font-size: 1.8rem;
  text-align: center;
  padding: 15px;
  color: black;
  width: 100%;
}

.productos__construccion {
  padding: 20px;
  width: 300px;
  background-color: #48706b;
  border-radius: 50px;
  border: solid 2px black;
  margin: 20px;
}

.productos__ceramicas {
  padding: 20px;
  width: 300px;
  background-color: #704948;
  border-radius: 50px;
  border: solid 2px black;
  margin: 20px;
}

.productos__muebles {
  padding: 20px;
  width: 300px;
  background-color: #614870;
  border-radius: 50px;
  border: solid 2px black;
  margin: 20px;
}

.productos__body a {
  color: white;
}

.contacto__title {
  text-align: center;
  padding: 25px;
}
.contacto__text {
  text-align: center;
  width: 80vw;
  margin: auto;
}
.contacto__redes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacto__redes--card {
  display: flex;
  align-items: center;
  height: 65px;
  margin: 5px 0px;
}
.contacto__redes--icon {
  background-color: #EAE7DD;
  border-radius: 15px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__redes--icon i {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.icon__info {
  font-size: 1rem;
  padding: 0.5em;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form__container .btn {
  margin-bottom: 15px;
  padding: 0.6em 5rem;
  margin-top: 0;
}
.form__container .btn:hover {
  background-color: #99775C;
  border-radius: 12px;
}

.input {
  display: block;
  width: 80vw;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
