* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border:2px solid red; */
}

a {
    text-decoration: none;
    color: #000000;
}

ul,
ol {
    list-style: none;
}

/* ------ HEADER ------ */

.logo-principal{
    display: flex;
    justify-content: center;
}

.logo-principal img{
    width: 100%;
}

.navbar{
background-color: #EAE7DD;
}

.list-item {
    padding: 7px;
    margin: 5px;
    font-size: 0.9rem;
    border-radius: 10px;
}

.list-item:hover {
    background-color: #99775C;
    border-radius: 12px;
    }

.list-item a:hover {
    color: white;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulo-principal {
    display: none;
}

@media (min-width: 600px){

}
/* ------ MAIN ------ */

/* .-.-.-.-.-.-.-.--. */

/* ------ INDEX ------ */

.index__encabezado {
    background-image: url(../imgs/imagen-fondo-index-header.jpg);
    background-color: #041f8dde;
    height: 45vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encabezado__texto {
    font-size: 1.2rem;
    text-align: center;
    background-color: #0000006b;
    color: rgb(255, 255, 255);
    width: 70vw;
    border-radius: 20px;
    padding: 8px;
}

.btn{
background-color: #EAE7DD;    
padding:7px;
margin-top: 20px;
border-radius: 7px;
border: solid #EAE7DD;
}

/* .btn:hover{
background-color: #000000;
border: solid #000000;
color: white;
} */
@media (max-width: 378px){
    .encabezado__texto{
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px){
.index__encabezado{
    height: 40vh;
}

    .encabezado__texto{
width: 60vw;
font-size: 1.5rem;
}
}


/* ------ FOOTER ------ */

.footer-title {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.8em;
}

.footer-contenedor {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 0.7em;
    background-color: #EAE7DD;
    color: #99775C;
}
.icon:hover{
    color: #99775C
}