// [esta seccion incluye las secciones de "construcción" "ceramicas" Y "muebles"] //
.catalogo {

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;


        &--text {
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            margin: 25px;
        }

        &--title {
            font-size: 1.5rem;
            padding: 10px;
        }

        &--img {
            max-width: 70vw;
            border-radius: 15px;
            margin-top: 10px
        }
    }

    &__title--construccion {
        background-color: #48706b;
        font-size: 1.8rem;
        text-align: center;
        padding: 15px;
        color: black;
        width: 100%;
    }

    &__title--ceramicas {
        background: #757F9A;
        background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
        background: linear-gradient(to right, #D7DDE8, #757F9A);
        font-size: 1.8rem;
        text-align: center;
        padding: 15px;
        color: black;
        width: 100%;

    }

    &__title--muebles {
        background-color: #614870;
        font-size: 1.8rem;
        text-align: center;
        padding: 15px;
        color: black;
        width: 100%;
    }
}

@media (min-width: 600px) {
    .catalogo__description {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: auto;


        &--text {
            grid-column: 1/2;
        }

        &--img {
            grid-column: 2/3;
            width: 45vw;
            margin-right: 20px;
        }
    }
}

@media (min-width: 750px) {
    .catalogo__description {

        &--text {
            max-width: 340px;
        }

        &--img {
            max-width: 350px;
        }
    }
}

@media (min-width: 1024px) {
    .catalogo__description {
        margin-top: 25px;
        margin-bottom: 40px;

        &--text {
            min-width: 40vw;
        }

        &--img {
            min-width: 30vw;
        }
    }
}

.productos__construccion {
    padding: 20px;
    width: 280px;
    background-color: #2e43479a;
    border-radius: 30px;
    border: solid 2px $color-principal;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        width: 200px;
    }
}

.productos__construccion:hover{
    transition: .2s ease-in-out all;
    box-shadow: 2px 2px $color-secundario, 4px 4px rgb(0, 0, 0), 6px 6px #4c696e, 8px 8px rgb(0, 0, 0);
}


.productos__ceramicas {
    padding: 20px;
    width: 300px;
    background-color: #170422cc;
    border-radius: 40px;
    border: solid 2px $color-principal;
    margin: 20px;
    color: #bcc4da;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a:hover{
        color: #bcc4da;
    }

    & img{
        border: solid 2px;
    }
}

.productos__muebles {
    padding: 20px;
    width: 300px;
    background-color: #614870;
    border-radius: 50px;
    border: solid 2px $color-principal;
    margin: 20px;
}

.productos__img--muebles {
    width: 250px;
    height: 150px;
    border-radius: 15px;
}

.productos__body a {
    color: white;
}