.contacto {
    &__title {
        text-align: center;
        padding: 25px;
    }

    &__text {
        text-align: center;
        width: 80vw;
        margin: auto;
    }
    
    &__redes {
        display: flex;
        align-items: center;
        flex-direction: column;

        &--card {
            display: flex;
            align-items: center;

            height: 65px;
            margin: 5px 0px;
        }

        &--icon {
            background-color: $color-secundario;
            border-radius: 15px;
            width: 45px;
            height: 45px;

            display: flex;
            justify-content: center;
            align-items: center;

            & i {
                font-size: 1.2rem;
                color: $color-principal;
            }
        }
    }
}

    .icon__info {
        font-size: 1rem;
        padding: 0.5em;
    }

    .form__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & .btn {
            margin-bottom: 15px;
            padding: .6em 5rem;
            margin-top: 0;
        }

        & .btn:hover {
            background-color: $color-complementario;
            border-radius: 12px;
        }
    }

    .input {
        display: block;
        width: 80vw;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: 10px;
    }

    @media(min-width: 600px){
        .input{
            width: 60vw;
        }
    }

    
    @media(min-width: 1024px) {
        .contacto{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 30px;
        }

        .contacto-container{
            grid-column: 1/2;
        }

        .form{
            grid-column: 2/3;
            margin-top: 40px;
        }

        .contacto__text{
            width: 80%;
        }

        .input{
            width: 40vw;
        }
    }