.encabezado {
    background-image: url(../imgs/imagen-fondo-index-header.jpg);
    background-color: #041f8dde;
    height: 65vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: 1.2rem;
        text-align: center;
        background-color: #0000006b;
        color: rgb(255, 255, 255);
        width: 70vw;
        border-radius: 20px;
        padding: 8px;
    }
}

@media (max-width: 378px) {
    .encabezado__text {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .encabezado {
        height: 40vh;
    }

    .encabezado__text {
        width: 60vw;
        font-size: 1.5rem;
    }
}

.catalogo {
    background-color: #EAE7DD;

    &__title {
        background-color: #EAE7DD;
        font-size: 2rem;
        text-align: center;
        padding: 15px;
        color: black;
        width: 100%;

        &--index{
            @extend .catalogo__title;
            background-color: #99775C;
            font-size: 1.8rem;
            border-radius: 30px;
            width: 90vw;
            margin: auto;
            margin-bottom: 5px;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        padding: 15px;
        background-color: #000000;
        text-align: center;
        color: #EAE7DD;
    }

    &__productos {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        padding: 40px;
    }
}

.productos {
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: #99775C;
    border-radius: 40px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 250px;
        border-radius: 15px;
    }
}


// ------ ABOUT US ------- //
.about-us {
    font-size: 1rem;
    padding: 1em;
    background-color: #EAE7DD;
}

.about-us__title {
    font-size: 2rem;
    padding: 0.3em;
    text-align: center;
    background-color: #000000;
    color: #EAE7DD;
    border-radius: 15px;
}

.about-us__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__subtitle {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5em 0em;
}

.about-us__description {
    font-size: 1rem;
    padding: 0.5em 0em;
    text-align: center;
    margin-bottom: 40px;// width: 80vw;
}

/* ---- cards article about us ---- */
.card {
    display: flex;
    align-items: center;
    height: 90px;
    margin: 5px 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.card__icon {
    background-color: cadetblue;
    border-radius: 40px;
    min-width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon i {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.card__text {
    font-size: 1rem;
    padding: 0.5em;
}

.cards-container{
    display: flex;
    flex-direction: column;
    gap:15px
}

.img__container {
    display: flex;
    justify-content: center;
}

.img__container img {
    border-radius: 5px;
    width: 70vw;

}

.about-us__img {
    width: 100%;
}

@media (min-width:600px) {
    .about-us__body {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
    }

    .about-us__intro {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .cards-container {
        grid-column: 1/2;
    }

    .img__container {
        grid-column: 2/3;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .img__container img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}