
.recomendaciones {

    &__title {
        font-size: 2rem;
        text-align: center;
        padding: 15px;
        width: 100%;
        color: $color-secundario;
        background: linear-gradient(90deg, rgba(99, 44, 92, 1) 0%, rgba(128, 2, 2, 1) 100%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__intro{
        padding: 40px 40px 15px 40px;
        font-weight: 600;
        text-align: center;
    }
}

.acordeon {
    width: 350px;
    background-color: $color-secundario;
    border-radius: 30px;
    border: solid 2px rgb(17, 17, 17);
    overflow: hidden;
    margin-bottom: 20px;

    &__title {
        text-align: center;
        padding: 15px 30px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.acordeon__item p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    background-color: $color-secundario;
    color: $color-principal;
    transition: .4s ease all;
}

.acordeon__item a {
    display: block;
    text-align: left;
    padding: 15px;
    background-color: rgb(17, 17, 17);
    color: $color-secundario;
    border-bottom: 2px solid $color-secundario;

}

.acordeon__item:target p {
    max-height: 120px;
    padding: 10px;
}