.nav--recom {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    background-color: $color-secundario;
    color: $color-principal;
    padding: .5rem;

    & * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    & li {
        display: inline-block;
        list-style: outside none none;
        margin: .5em 1em;
        padding: 0;
    }

    & a {
        padding: .5em .8em;
        color: $color-principal;
        position: relative;
        text-decoration: none;
        font-size: 20px;

        &::before,
        &::after {
            content: '';
            height: 14px;
            width: 14px;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        &::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 3px solid $color-principal;
            border-right: 3px solid $color-principal;
            transform: translate(-100%, 50%);
        }

        &:after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 3px solid $color-principal;
            border-left: 3px solid $color-principal;
            transform: translate(100%, -50%)
        }

        &:hover {
            color: $color-principal;


            &:before,
            &:after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
}

.contenedor {
    width: 60%;
    margin: 30px;
}


.recomendaciones__title{
        font-size: 2rem;
        text-align: center;
        padding: 15px;
        color: $color-principal;
        width: 100%;
    }


.footer--recom {
        &__title {
            background-color: $color-principal;
            color: $color-secundario;
            text-align: center;
            font-size: 1rem;
            padding: 0.8em;
        }
    
        &__body {
            display: flex;
            justify-content: space-evenly;
            font-size: 1.5rem;
            padding: 0.7em;
            background-color: $color-secundario;
            color: $color-complementario;
        }
    }
    
    .icon:hover {
        color: $color-complementario;
    }