.card{
    width: 350px;

    &__img{
display: block;
width: 100%;
height: 125px;
background-color: $color-primario;
    }

    &__body{
        padding: 1.5em;
        background-color: white;
    }

    &__list{
        list-style-type: none;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    &__item{
        padding: .3em .5em;
        background-color: $color-gris;
        border-radius: 10px;
        font-size: .8rem;

        &--active{
            font-weight: 800;
        }
    }
    
    &__btn{
        background-color: $color-secundario;
        text-decoration: none;
        border-radius: .5em;
        color: white;
        padding: .5em 1em;
        display: inline-block;
        margin-top: 20px;

        &:hover{
            background-color: $color-primario;
        }
    }
}