.header__logo {
    display: flex;
    justify-content: center;

    & img {
        width: 100%;
    }
}

.header__title {
    display: none;
}


.nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    background-color: #EAE7DD;
    color: black;
    padding: .5rem;

    & * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    & li {
        display: inline-block;
        list-style: outside none none;
        margin: .5em 1em;
        padding: 0;
    }

    & a {
        padding: .5em .8em;
        color: black;
        position: relative;
        text-decoration: none;
        font-size: 20px;

        &::before,
        &::after {
            content: '';
            height: 14px;
            width: 14px;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        &::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 3px solid black;
            border-right: 3px solid black;
            transform: translate(-100%, 50%);
        }

        &:after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 3px solid black;
            border-left: 3px solid black;
            transform: translate(100%, -50%)
        }

        &:hover {
            color: black;


            &:before,
            &:after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }
}